.card {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    .image {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        background-color: #000;

        .secondImg {
            left: -100%;
            transition: all 0.5s ease;
        }

        &:hover {
            .secondImg {
                z-index: 2;
                left: 0;
            }

            .mainImg {
                bottom: -100%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .mainImg {
            z-index: 1;
            bottom: 0;
            transition: all 0.5s ease;
        }

        span {
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: #19c909;
            color: #fff;
            z-index: 4;
            padding: 3px 5px;
            font-weight: 500;
            font-size: 12px;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
    }

    .prices {
        display: flex;
        gap: 20px;
        align-items: center;

        h3 {
            font-size: 20px;
            font-weight: 600;
            color: green;
            vertical-align: middle;

            &:first-child {
                color: red;
                font-size: 16px;
                text-decoration: line-through;
            }
        }
    }
}